.div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}

.formWrapper {
  width: 600px;
  min-height: 480px;
  padding: 2rem;
  background: #150a29;
  border: 1px solid #4b336b;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.equal {
  display: flex;
  gap: 1rem;
}

.equal > * {
  flex: 1;
}

.labelInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contactMe {
  font-size: 32px;
  margin-bottom: 20px;
  background: linear-gradient(
    105.66deg,
    #00f4ff 16.76%,
    #68ffed 46.39%,
    #9867ff 76.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  width: max-content;
  margin: 0;
}

input.error,
textarea.error,
.selectContainer.error,
input:focus.error,
.input.error:focus,
.textarea.error:focus {
  border: 1px solid #f00000;
  color: #f00000;
  caret-color: white;
  outline: none;
}

.shake {
  animation: inputshake 0.25s ease-in-out;
}

@keyframes inputshake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 0 5rem;
  width: 40%;
}

.contactText {
  width: 70%;
}

.contactText h1 {
  color: #00f4ff;
  margin: 0 0 22px 0;
  font-size: 40px;
}

.contactText p {
  word-break: break-word;
  line-height: 1.5;
}

.contactItem {
  display: flex;
  align-items: center;
}

.contactIcon {
  margin: 0 0.7rem 0 0;
}

.selectArrowContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selectContainer {
  position: relative;
  height: 20px;
  padding: 12px 16px;
  border: 1px solid whitesmoke;
  background-color: #150a29;
  padding: 12px 16px;
  border-radius: 12px;
  color: inherit;
  outline: none;
  font-size: 20px;
}

.pleaseSelect {
  margin: 0;
  font-size: 20px;
  color: #a9a3b0;
  font-weight: 400;
}

.arrowButton {
  background: none;
  border: none;
  padding: 0;
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 252.8px;
  height: auto;
  padding: 12px 16px;
  border: 1px solid whitesmoke;
  background-color: #150a29;
  padding: 12px 16px;
  border-radius: 12px;
  color: inherit;
  outline: none;
  font-size: 20px;
  z-index: 1000;
}

.optionsContainer ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.optionsContainer li {
  list-style: none;
  cursor: pointer;
  color: white;
}

.backendError {
  color: #f00000;
}
