.input {
  min-height: 45px;
  padding: 12px 16px;
  border: 1px solid whitesmoke;
  background-color: #150a29;
  border-radius: 12px;
  color: inherit;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.input:focus {
  border: 1px solid transparent;
  background:
    linear-gradient(#150a29, #150a29) padding-box,
    linear-gradient(105.66deg, #00f4ff, #68ffed, #9867ff) border-box;
  outline: none;
}
