.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 600px;
  padding: 2rem;
  background: #150a29;
  border: 1px solid #4b336b;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.login {
  font-size: 32px;
  margin-bottom: 20px;
  background: linear-gradient(
    105.66deg,
    #00f4ff 16.76%,
    #68ffed 46.39%,
    #9867ff 76.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  width: max-content;
  margin: 0;
}

.fullName {
  display: flex;
  gap: 1rem;
}

.fullName > * {
  flex: 1;
}

.labelInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.backendError {
  color: rgba(214, 52, 52, 1);
}

input.error {
  border: 1px solid rgba(214, 52, 52, 1);
  color: red;
  caret-color: white;
  outline: none;
}

.shake {
  animation: inputshake 0.25s ease-in-out;
}

@keyframes inputshake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
