.flexMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 800px;
  height: 500px;
  background: #150a29;
  border: 1px solid #4b336b;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  transition: all 0.25s ease-in;
  margin: 2rem 0 0 0;
}

.messageContainer:hover {
  box-shadow: 0 0 15px rgba(255, 0, 127, 0.5);
}

.sender span {
  font-size: 32px;
  margin-bottom: 20px;
  background: linear-gradient(
    105.66deg,
    #f9d423 16.76%,
    #ff4e50 46.39%,
    #c33764 76.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  width: max-content;
}

.sender strong {
  font-size: 32px;
  margin-bottom: 20px;
  background: linear-gradient(
    105.66deg,
    #00c6ff 16.76%,
    #833ab4 46.39%,
    #ff007f 76.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  width: max-content;
  margin: 0 0.7rem 0 0;
}
