html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #2d1457, #934b8e, #a7b8d4);
  font-family: "Josefin Sans", sans-serif;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 60px;
  display: flex;
  flex: 1;
}
