.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutMe {
  font-size: 32px;
  margin-bottom: 20px;
  background: linear-gradient(
    105.66deg,
    #00f4ff 16.76%,
    #68ffed 46.39%,
    #9867ff 76.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin: 5rem 0 3rem 0;
}

.aboutText {
  width: 60%;
}

.aboutText p {
  color: whitesmoke;
  opacity: 0.8;
  line-height: 1.5;
  word-break: break-word;
}

.logoDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 30%;
  margin: 3rem 0 0 0;
}

.logoDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.25s ease-in;
}

.logoDiv div:hover {
  transform: scale(1.1);
}
