.div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  margin: 2rem 0 0 0;
  gap: 2rem;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  gap: 1rem;
  align-self: flex-start;
  margin: 6.5rem 0 0 0;
}

.info {
  margin: 0;
  font-size: 55px;
  background: linear-gradient(to right, #f9d423 0%, #ff4e50 50%, #c33764 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
}
